@import "layout";
@import "loader";
@import "interaction";
@import "gkskatowice";
@import "demo";

body, html {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  overflow-x:hidden;
}

#content {
  transition: 0.5s opacity ease-in;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

