@import "layout";
@import "loader";
@import "interaction";
@import "gkskatowice";

body, html {
  margin: 0;
  background-color: black;
  min-height: 100vh;
}

#content {
  transition: 0.5s opacity ease-in;
}
